.layoutContainer {
    /* border: 5px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 720px;
}

.layoutWrapper {
    border: 2px solid black;
    width: 60%;
    height: 570px;
    background-color: lightcyan;
    border-radius: 15px;
    box-shadow: 0px 0px 20px -6px black;
}

.layoutTitle {
    width: 100%;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    padding: 10px;
    color: brown;
}

.layoutDisplay {
    
    display: flex;
    justify-content: space-around;
    padding: 15px;
}